.sidebar {
  width: 350px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.sidebar .name{
  margin-bottom: 5px;
}

.sidebar .sub-name{
  margin-bottom: 10px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 20px;
}

.icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icons a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.1em;
}

.icons i {
  font-size: 1.5em;
  color: #ecf0f1;
  transition: color 0.3s ease;
  cursor: pointer;
}

.icons i:hover {
  color: #3498db;
}

.icons span {
  font-weight: normal;
}

.icons span:hover {
  text-decoration: underline;
}

.location-icon {
  cursor: default;
}

.location-icon span:hover {
  text-decoration: none;
}

.location-icon i {
  cursor: default;
}

.location-icon i:hover {
  color: #ecf0f1;
}

.homepage .bio {
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.1em;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
  .sidebar{
    width: 100%;
    text-align: center;
  }
  .icons{
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
}